{% extends "account/base.html" %}

{% load i18n %}
{% load account static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'app/css/signin.css' %}">

    <div class="container col-lg-6 text-center pt-5">

        <img src="{% static 'app/images/logo.svg' %}" alt="" width="80">
        <h1>{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% blocktrans %}Мы отправили Вам электронное письмо для проверки. Перейдите по ссылке ниже, чтобы завершить
            процесс регистрации. Если Вы не видите письмо с подтверждением в своем почтовом ящике, проверьте папку со
            спамом. Пожалуйста, свяжитесь с нами, если Вы не получили электронное письмо с подтверждением в течение
            нескольких минут.{% endblocktrans %}</p>
    </div>
{% endblock %}
