{% extends "account/base.html" %}

{% load static i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'app/css/signin.css' %}">
    <div class="container text-center col-lg-6">
        <img src="{% static 'app/images/logo.svg' %}" alt="" width="80">
        <h1>{% trans "Verify Your E-mail Address" %}</h1>

        <p class="text-start">{% blocktrans %}Мы отправили Вам электронное письмо для проверки. Перейдите по ссылке
            ниже, чтобы завершить процесс регистрации. Если Вы не видите письмо с подтверждением в своем почтовом ящике,
            проверьте папку со спамом. Пожалуйста, свяжитесь с нами, если Вы не получили электронное письмо с
            подтверждением в течение нескольких минут.{% endblocktrans %}</p>
    </div>
{% endblock %}
