{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <div class="nav-scroller bg-body shadow-sm m-3">
            <link rel="stylesheet" href="{% static 'app/css/signin.css' %}">

        </div>

<main class="form-signin w-100 m-auto text-center">
  <form method="post">
    <img class="mb-4" src="{% static 'app/images/logo.png' %}" alt="" width="72">
    <h1 class="h3 mb-3 fw-normal">Вход</h1>

      {% csrf_token %}
      {% for error in form.non_field_errors %}
        <p class="text-danger">
            {{ error }}
        </p>
      {% endfor %}
        {% for field in form %}
            <div class="form-floating">
                {{ field }}
              <label for="floatingInput">{{ field.label }}</label>
            </div>
        {% endfor %}
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>

      <div class="checkbox mb-3">
      <label class="mt-2">
        Еще не аккаунта? <a href="{% url 'signup' %}" class="link-info">зарегистрироваться</a>
      </label>
    </div>
  </form>
</main>
{% endblock %}